<h1>Stupid Dumb Coaching</h1>


<div class="card">
    <%= @question %>
    <p class="italic">-you</p>
</div>
<br>
<br>
<div class="card">
    <%= @answer %>
    <p class="italic">-your coach</p>
</div>
<br>
<br>
<br>
<%= link_to "Click here to ask coach another riveting question!", ask_path %>
