<h1 style="text-align:center">Stupid Coaching</h1>
<h3>Ask your coach anything:</h3>
<form style="width:60%; margin: 2rem auto; border:2px solid dodgerblue" action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
