// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    border-left: 4px solid #777;
    height: 200px;
    width: 200px;
}

.italic {
    font-style: italic;
}